@import "../../styles/styles";
@import "../../styles/variables";
.icon {
    .icons2{
        @include dispflex(flex);
        opacity: 0.87;
    }
    .menuContent{
        border-radius: 10%;
    }
    .deletepointer{
        cursor: pointer !important;
    }
   
}
.displaycolor {
    margin-top: 2px;
    @include dispflex(flex);   
     flex-flow: row wrap;
  }
  .remindMenuContent{
    font-family:  $roboto-slab;
    border-radius:2%;
    overflow: hidden;
    max-height: 400px;
    min-width: 300px !important;
}
.md-subhead{
    cursor: pointer;
    opacity: 0.7;
}
.remindHead{
    user-select: none;
}
.datePicker{
    height: 400px;
    width:300px
}
.selectDate{
    cursor: pointer;
}
.insideDate{
    display: flex
}

 
