@import "../../styles/styles";
@import "../../styles/variables";
.icon {
    .icons2{
        @include dispflex(flex);
        opacity: 0.87;
    }
    .menuContent{
        border-radius: 10%;
    }
    .deletepointer{
        cursor: pointer !important;
    }
   
}
.displaycolor {
    margin-top: 2px;
    @include dispflex(flex);   
     flex-flow: row wrap;
  }
  .remindMenuContent{
    font-family:  $roboto-slab;
    border-radius:2%;
    overflow: hidden;
    max-height: 400px;
    min-width: 300px !important;
}
.md-subhead{
    cursor: pointer;
    opacity: 0.7;
}
.remindHead{
    user-select: none;
}
.datePicker{
    height: 400px;
    width:300px
}
.selectDate{
    cursor: pointer;
    padding: 10px;
}
.insideDate{
    @include dispflex(flex);   
}
.clockIcon{
    @include dispflex(flex); 
    font-family: $roboto-slab;
    font-size: 13px;
}
 .subheader{
    cursor: pointer;
    font-family: $roboto-slab;
    font-size: 13px;
    // opacity: 0.87;
    @include text(initial);
    padding: 15px 24px 10px;
}
.ReminderDailogHeader{
    font-family: $roboto-slab;
    font-size: 15px;
    padding: 15px 24px 10px;
    user-select: none;
}
.changeLabel{
    cursor: pointer;
}
.changeLabels{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 60%;
    overflow: hidden;
}
.clickChangelabel{
    cursor: pointer;
}

.plusicon{
    padding-left: 10px;
}
.pluscreate{
    @include dispflex(flex); 
    padding-left: 15px;
}
.labelShow{
    padding-left: 10px;
}
.labelContainerMenu{
    width:200px;
}
.changesavelabel{
    @include dispflex(flex); 
    @include space(space-between); 
}
.labeledCreate{
    @include dispflex(flex); 
}
.searchIcon{
    height:"18px"
}
.collaboratorDailogTitle{
    font-family: $roboto-slab;
    font-style: bold;
}
.collabContainer{
    width: 600px;
    height: 257;
}
.collaboratorEmail{
    font-family: $roboto-slab;
}
.collabDialog{
    @include dispflex(flex); 
}