@import "../../styles/variables";
@import '../../styles/styles';
.gridView{
    .display-note {
        .displaycard{
            margin-top: 40px;
            @include dispflex(flex);
            flex-wrap: wrap;
            margin-left:3%;
            @include text(justify);
            flex-flow: inherit
        }
        .displaytitle{
            @include dispflex(flex);
            padding: 8px;
        }
        .cardContainer{
            width:300px !important;
            // display: flex !important;
            border-radius: 6px !important;
            margin:1% !important;
            // flex-wrap: wrap !important;
        }
      
        .subnote{
            @include dispflex(flex);
            @include space(space-between);
        }
        .displaytitle{
            word-break: break-all;
            cursor: default;
        }
        }
      
         
}
.listView{
    .display-note {
        .displaycard{
            margin-top: 40px;
            @include dispflex(flex);
            flex-wrap: wrap;
            margin-left:3%;
            @include text(justify);
          
        }
        .displaytitle{
            @include dispflex(flex);
            padding: 8px;
        }
        .cardContainer{
            width:650px !important;
            border-radius: 6px !important;
            margin:1% !important
        }
        
        .subnote{
            @include dispflex(flex);
            @include space(space-between);
        }
        .displaytitle{
            word-break: break-all;
            cursor: default;
        }
        } 
}
.dragAlign{
    display: flex;
    flex-wrap: wrap
}
.md-dialog{
    border-radius: 5px;
    width:600px;
  //   height: 160px;
    
}
.dialogAlign{
    @include dispflex(flex);
    padding: 12px;
}
.dailogDescription{
    padding:12px;
    width:100%;
    @include dispflex(flex);
    letter-spacing: .00625em;
    font-family:  $roboto-slab;
    font-size: 1rem;
    font-weight: 500;
    // line-height: 1.5rem;
    @include text(left);
    border: none;
}
.dialogIcons{
    @include dispflex(flex);
    @include space(space-between);
    align-items: flex-end;
}
.noteTitle{
    width:100%;
    @include dispflex(flex);
    letter-spacing: .00625em;
    font-family:  $roboto-slab;
    font-size: 1rem;
    font-weight: 500;
    // line-height: 1.5rem;
    @include text(left);
    border: none;
  
 }
.display-note{
    display: flex;
    flex-flow: wrap;
}