<section class="dashboard">
  <div class="page-container md-layout-column">
    <div class='menu'>
      <md-toolbar class="menu" id="menubar">
        <div class="toolbar">
          <md-button class="md-icon-button" @click="showNavigation" id="button">
            <md-icon>menu</md-icon>
          </md-button>
          <div>
            <img class='keepimg' alt-aria-hidden="true" src="../../assets/images/keep_48dp (1).png">
          </div>
          <div class="keep">
            <span class="title">Keep</span>
          </div>
          <div class="search">
            <md-button class="md-icon-button">
              <img class="searchBarIcon" src="../../assets/icons/searchInLabels.svg">
            </md-button>
            <md-autocomplete v-model="search" @click="search()" :md-options="notes" md-layout="box">
              <label class="searchTitle">Search</label>
            </md-autocomplete>
          </div>
        </div>
        <div class="toolbaricons">
          <div class="threeicons">
            <md-button class="md-icon-button">
              <img src="../../assets/icons/refresh.svg" alt="" srcset="">
            </md-button>
            <div @click="viewList()">
              <div v-if="grid">
                <md-button class="md-icon-button">
                  <img src="../../assets/icons/listView.svg" alt="" srcset="">
                </md-button>
              </div>
              <div v-if="!grid">
                <md-button class="md-icon-button">
                  <img src="../../assets/icons/gridView.svg" alt="" srcset="">
                </md-button>
              </div>
            </div>
            <md-button class="md-icon-button">
              <img src="../../assets/icons/settings.svg" alt="" srcset="">
            </md-button>
          </div>
          <div class="profilePicCard">
            <md-menu md-size="medium" md-align-trigger>
              <md-avatar class="md-avatar-icon">
                <div class="profileCard" enctype="multipart/form-data">
                  <md-button md-menu-trigger class="md-fab md-mini"
                    v-bind:style="{ 'background-image':'url(' +image+ ')','background-size':'cover'}">
                  </md-button>
                  <div>
                    <md-menu-content class="profileCard">
                      <md-avatar class="profileIcon">
                        <md-button md-menu-trigger class="md-fab md-mini"
                          v-bind:style="{ 'background-image':'url(' +image+ ')','background-size':'cover'}"
                          @change="uploadImage($event)">
                          <input type="file" accept="image/*" />
                        </md-button>
                      </md-avatar>
                      <div class="userName">{{firstName}}{{lastName}}</div>
                      <div class="userName">{{email}}</div>
                      <div class="signoutButton">
                        <md-button class="md-raised" @click="signout()">Signout</md-button>
                      </div>
                    </md-menu-content>
                  </div>
                </div>
              </md-avatar>
            </md-menu>
          </div>
        </div>
      </md-toolbar>
    </div>
    <div class="page">
      <div v-if='flag' class="list">
        <md-list>
          <div>
            <md-list-item class="align">
              <md-icon>lightbulb_outline</md-icon>
              <router-link to="/dashboard/note">
                <span class="md-list-item-text" id="spannote">Notes</span>
              </router-link>
            </md-list-item>
            <md-list-item>
              <md-icon :md-src="require('/home/admin1/Desktop/fundooclient/src/assets/icons/remainder.svg')"></md-icon>
              <span class="md-list-item-text" id="spannote">Reminders</span>
            </md-list-item>
          </div>
          <hr>
          <div>
            <div class="subheader">
              Labels
            </div>
            <div>
              <div class="labelSave" v-for="label in labelArray">
                <img class="imagelabel" src="../../assets/icons/label-24px.svg">
                <div class="labelName"> {{label.nameLabel}} </div>
              </div>
            </div>
            <div>
              <md-list-item>
                <md-icon :md-src="require('/home/admin1/Desktop/fundooclient/src/assets/icons/edit.svg')"></md-icon>
                <span class="md-list-item-text" id="spannote" @click="editDialog()">Edit labels</span>
              </md-list-item>
            </div>
          </div>
          <div>
            <md-dialog class="dialogContainer" :md-active.sync="showDialog">
              <div class="dialogTitle">
                Edit Labels
              </div>
              <div class="labelsTitle">
                <div>
                  <md-button class="md-icon-button">
                    <img src="../../assets/icons/exitEdit.svg">
                  </md-button>
                </div>
                <div>
                  <input class="createLabel" v-model="inline" placeholder="create a label"></input>
                </div>
                <div @click="labelSave()">
                  <md-button class="md-icon-button">
                    <img src="../../assets/icons/createEdit.svg">
                  </md-button>
                </div>
              </div>
              <div class="saveLabels" v-for="label in labelArray">
                <img src="../../assets/icons/label.svg">
                {{label.nameLabel}}
                <img src="../../assets/icons/editLabel.svg">
              </div>
              <div class="labels">
                <div class="createdLabel" v-for="nameLabel in object">
                  <md-button class="md-icon-button">
                    <img src="../../assets/icons/label.svg">
                  </md-button>
                  <div>{{nameLabel}}</div>
                  <div>
                    <md-button class="md-icon-button">
                      <img src="../../assets/icons/editLabel.svg">
                    </md-button>
                  </div>
                </div>
              </div>
            </md-dialog>
          </div>
          <hr>
          <div>
            <md-list-item class="alignn">
              <md-icon :md-src="require('/home/admin1/Desktop/fundooclient/src/assets/icons/archive.svg')"></md-icon>
              <router-link to="/dashboard/archive">
                <span class="md-list-item-text" id="spannote">Archive</span>
              </router-link>
            </md-list-item>
            <md-list-item>
              <md-icon :md-src="require('/home/admin1/Desktop/fundooclient/src/assets/icons/bin.svg')"></md-icon>
              <router-link to="/dashboard/trash">
                <span class="md-list-item-text" id="spannote">Bin</span>
              </router-link>
            </md-list-item>
          </div>
        </md-list>
      </div>
      <div class='content'>
        <router-view></router-view>
      </div>
    </div>
  </div>
</section>