<section class="forgotpassword">
    <div class="centered-container">
        <form novalidate class="md-layout" @submit.prevent="validateUser">
        <md-content class="md-elevation-3">
            <div class="title">
                <div class='header'>
                  <span class='f'>F</span>
                  <span class='u'>U</span>
                  <span class='n'>N</span>
                  <span class='d'>D</span>
                  <span class='o'>O</span>
                  <span class='o'>O</span>
                </div>
                <div class="md-title">Forgot Password</div>
            </div>
          <div class="form">
            <md-field :class= "getValidationClass('email')">
              <label for="email">Email</label>
              <md-input name="email" id="email" autocomplete="given-name" v-model="forgotpassword.email" :disabled="sending" />
              <span class="md-error" v-if= "!$v.forgotpassword.email.required">The email is required</span>
              <span class="md-error" v-else-if= "!$v.forgotpassword.email.minLength">Invalid email</span>
            </md-field>
          </div>
        <div class="actions md-layout md-alignment-center-space-between">
            <md-button class="md-raised md-primary" type="submit">Submit</md-button>
          </div>
        </md-content>
        </form>
      </div>
</section>

