<section class="forgotpassword">
    <div class="centered-container">
        <md-content class="md-elevation-3">
            <div class="title">
                <div class='header'>
                  <span class='f'>F</span>
                  <span class='u'>U</span>
                  <span class='n'>N</span>
                  <span class='d'>D</span>
                  <span class='o'>O</span>
                  <span class='o'>O</span>
                </div>
                <div class="md-title">Forgot Password</div>
    
            </div>
         
          <div class="form">
            <md-field>
              <label>Email</label>
              <md-input v-model="login.email" autofocus></md-input>
            </md-field>
          </div>
        <div class="actions md-layout md-alignment-center-space-between">
            <md-button class="md-raised md-primary">Submit</md-button>
          </div>
        </md-content>
      </div>
</section>

